Tutorial_1_Docker/old/Ejercicio_1/__pycache__/
Tutorial_1_Docker/Ejercicio_1/node_modules/
Tutorial_1_Docker/Ejercicio_1/mogodata/
Tutorial_1_Docker/old/Ejercicio_2/__pycache__/
Tutorial_1_Docker/Ejercicio_2/node_modules/
Tutorial_1_Docker/Ejercicio_2/mogodata/
Tutorial_2_RabbitMQ/node_modules/
Tutorial_3_RabbitMQ_Docker/node_modules
Tutorial_4_Jest_TDD/Ejercicio_1/node_modules
Tutorial_4_Jest_TDD/Ejercicio_2/node_modules
Tutorial_4_Jest_TDD/Ejercicio_3/node_modules
Tutorial_4_Jest_TDD/Ejercicio_4/node_modules
Tutorial_4_Jest_TDD/Ejercicio_5/node_modules
bot/node_modules/
